
/*--------------------- SPLASH PAGE -- SPLASH PAGE---------------------*/

.splash .jumbotron {
  background-color: #2B2B2B;
  color: white;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 20px;
  padding-top: 20px;
  text-shadow: 4px 4px 5px #765A7D, 4px -4px 5px #765A7D, -4px 4px 5px #765A7D, -4px -4px 5px #765A7D;
}

.splash .jumbotron h1{
  margin-top: 0px;
  font-size: 100px;
}

.splash .jumbotron h3{
  font-size: 50px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.splash .jumbotron h4{
  font-size: 20px;
  padding-bottom: 10px;
}

.splash .jumbotron a{
  color: white;
  width: 125px;
  font-size: 20px;
}

.splash .gradient{
  padding: 7px;
  background: #765A7D; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#765A7D, #765A7D, #E3C3EB, #765A7D, #2B2B2B); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#765A7D, #765A7D, #E3C3EB, #765A7D, #2B2B2B); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#765A7D, #765A7D, #E3C3EB, #765A7D, #2B2B2B); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#765A7D, #765A7D, #E3C3EB, #765A7D, #2B2B2B); /* Standard syntax */
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(145,100,140, 1);
  }
  70% {
      -webkit-box-shadow: 0 0 0 12px rgba(204,169,44, .2);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, .2);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(145,100,140, 1);
    box-shadow: 0 0 0 0 rgba(145,100,140, 1);
  }
  70% {
      -moz-box-shadow: 0 0 0 12px rgba(204,169,44, .2);
      box-shadow: 0 0 0 12px rgba(204,169,44, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, .2);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}


/*--------------------- GENERATOR PAGE -- GENERATOR PAGE ---------------------*/

.generator html, .generator body {
  background-color: #2B2B2B;
  color: white;
}

.generator .nav-heading {
  color: white;
  margin-bottom: 0px;
  background-color:#765A7D;
  border: 0px;
  border-bottom: solid 3px #977a9f;
  border-radius: 0px;

}

.generator .nav-heading div ul li a {
  color: white;
}

.generator .col-xs-12 {
  background-color: #765A7D;
  margin-bottom: 27px;
  border: solid 3px #977a9f;
  border-radius: 7px;
  box-shadow: 4px 4px 3px #544059, -4px 4px 3px #544059, 2px -2px 3px #544059, -2px -2px 3px #544059;
  padding: 23px;
  padding-top: 0px;
}

.generator .col-xs-9 .row {
  padding-left: 15px;
  padding-right: 15px;
}

.generator .container {
  margin-top: 50px;
  padding: 0px;
  /*margin: 30px;*/
}

.generator select, .generator input {
  margin-bottom: 10px;
}

.generator button {
  background-color: white;
  color: #765A7D;
}

.generator ul {
  padding-left: 4px;
  list-style-position: inside;
}

.generator li:hover {
  text-decoration: underline;
  cursor: pointer;
}

.col-xs-12 h3 {
  text-shadow: 2pt 2pt #2b2b2b;
}

#outputHeader {
  text-shadow: 2pt 2pt #2b2b2b;
  font-size: 25pt;
}

#characterOutput {
  font-size: 20pt;
  font-family: 'Arapey';
  text-shadow: 2pt 2pt #2b2b2b;
}

/*.generator .col-xs-9 {
  background-color: #765A7D;
  margin: 10px;
  border-radius: 15px;
  box-shadow: 5px 5px 10px #765A7D;
}*/

/*form {
  width: 80%;
}*/

/*--------------------- ABOUT PAGE -- ABOUT PAGE ---------------------*/

.about {
  font-family: 'Open Sans', sans-serif;
}

.about .about-content {
  text-align: left;
}

.about h1 {
  color: #3399E0
}

.about .btn {
  box-shadow: 4px 3px 5px #000000, -1px -1px 3px #A6A6A6, 0px 0px 3px #A6A6A6;
}

.about .about-content img {
  float: left;
}

.about .about-content h3 {
  color: #3A53A4;
}
/* this rounds all img corners */
.about img {
    border-radius: .5em;
}

.about #social-icons img {
  margin: .2em;
}

.about .avatars {
  margin-right: 15px;
  margin-bottom: 4px;
  margin-left: 0px;
  border: solid #999966 1px;
  box-shadow: 0 0 2pt 2pt #404040;
}

.about .col-sm-6 p {
  font-size: 14pt;
  color: black;
}

ul.nav li a {
  padding: 20px 10px;
  color: #fff;
  position: relative;
}

ul.nav li a:before {
  position: absolute;
  content: "";
  width: 2px;
  height: 60%;
  left: 0;
  background: #CDCDCD;
  top: 50%;
  transform: translate(0, -50%);
}
