.splash .jumbotron {
  background-color: #2B2B2B;
  color: white;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 20px;
  padding-top: 20px;
  text-shadow: 4px 4px 3px #765A7D, 4px -4px 3px #765A7D, -4px 4px 3px #765A7D, -4px -4px 3px #765A7D;
}

.splash .jumbotron h1{
  margin-top: 0px;
  font-size: 100px;
}

.splash .jumbotron h3{
  font-size: 50px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.splash .jumbotron h4{
  font-size: 20px;
  padding-bottom: 10px;
}

.splash .jumbotron a{
  color: white;
  width: 125px;
  font-size: 20px;
}

.splash .gradient{
  padding: 7px;
  background: #765A7D; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#765A7D, #765A7D, #E3C3EB, #765A7D, #2B2B2B); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#765A7D, #765A7D, #E3C3EB, #765A7D, #2B2B2B); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#765A7D, #765A7D, #E3C3EB, #765A7D, #2B2B2B); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#765A7D, #765A7D, #E3C3EB, #765A7D, #2B2B2B); /* Standard syntax */
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(145,100,140, 1);
  }
  70% {
      -webkit-box-shadow: 0 0 0 12px rgba(204,169,44, .2);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, .2);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(145,100,140, 1);
    box-shadow: 0 0 0 0 rgba(145,100,140, 1);
  }
  70% {
      -moz-box-shadow: 0 0 0 12px rgba(204,169,44, .2);
      box-shadow: 0 0 0 12px rgba(204,169,44, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, .2);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}

.about {
  font-family: 'Open Sans', sans-serif;
}

.about .about-content {
  text-align: left;
}

.about .about-content img {
  float: left;
}

.about .about-content h3 {
  color: #3a53a4;
}
/* this rounds all img corners */
.about img {
    border-radius: .5em;
}
